---
# Only the main Sass file needs front matter (the dashes are enough)
---
$grid-classes-generate: true;
@import "sass-lattice/Lattice";
@import "angled-edges";

.hidden {
  display: none;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans';
}

*, *:before, *:after {
  box-sizing: inherit;
}

.Warning {
  padding: 1em 2em;
  background: #FF4F3D;
}


h2 {
  font-size: 1em;
  text-align: center;
  z-index: 100;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.07em;

  word-break: break-all;

  position: relative;
  bottom: 6em;

  span {
    font-size: 2.5em;
    display: inline-block;
    padding: 0.5em 1em;
    background: #000;

    transform: skewX(10deg);
  }
}

pre {
    margin: 2em 0;

    & > code {
        padding: 1.5em 2em !important;

        background-clip: padding-box;
        -webkit-background-clip: padding-box;

        border-radius: 0.4em;
        box-shadow: 0 0.3em 0 0 rgba(0,0,0,0.3);
    }
}

.Docs {
    font-size: 1.1em;
    background: rgb(42,28,45);

    @include angled-edge('outside top','upper right', rgb(42,28,45), $height: 100);
}

.DocContents, .DocText {
    text-shadow: -0.1em 0.1em 0 rgba(0,0,0,0.3);
    
    position: relative;

    @include at('medium') {
      padding: 2em;
    }

    bottom: 3em;

    font-size: 0.9em;

    @include at('small') {
        font-size: 1.1em;
    }
}

h3, h4, h5, h6 {
    text-shadow: -0.1em 0.1em 0 rgba(0,0,0,0.3);
    line-height: 1.2em;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.07em;

    margin-top: 3em;
    margin-bottom: 0.5em !important;

    &:before {
      content: "#";
      font-family: 'Open Sans';
      font-weight: lighter;
      color: rgba(255,255,255,0.2);
      font-size: 1.2em;
    }
}

h3 {
    font-size: 2.2em;
}

h3:nth-child(2) {
  margin-top: 0 !important;
}

h4 {
    font-size: 1.7em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    text-transform: none;
    color: #FFEDB9;
    font-weight: 400;
    font-size: 1em;
}

.DocContents {
  display: none;

  @include at('medium') {
    display: block;
  }

  // padding-top: 4em;
  border-radius: 0.4em;

  ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 1.5em;
  }

  a {
    color: #59B0CC;
    text-decoration: none;

    &:hover, &.active {
      color: white;
    }

    &.active {
      font-weight: bold;
    }
  }

  li {
    padding: 0.2em 0;
  }

  & > ul {
    margin: 0;
    padding: 0;

    & > li {
      margin-top: 1em;
    }
  }
}

.DocText {
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.4em;

    em {
      color: rgba(255, 255, 255, 0.5);
    }

    p {
      &:first-letter {
      }
    }

    *:not(pre) code {
      background: rgba(255,206,32,.3);
      padding: 0.1em 0.3em;
      border-radius: 0.2em;
      color: white;
    }

    a {
      color: #FFCD37;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      list-style: none;

      li {
        padding-left: 1em;
        text-indent: -.7em;

        &:before {
          content: "■ ";
          color: rgba(255, 255, 255, 0.3);
        }
      }
    }

    blockquote {
      margin: 2em 0;
      padding: 0.1em 2em 0.1em;
      border-left: 0.3em solid #FFC658;
      background: transparentize(white, 0.9);
    }

    table {
      width: 100%;
      // border: 1px solid white;

      td {
        border: 1px solid rgba(255, 255, 255, 0.5);
        padding: 0.5em;
      }
    }
}

.Jumbotron {
  min-height: 30em;
  background: #FFC844;
  padding: 2em 2em 10em 2em;

  .Logo {
    text-align: center;

    img {
      width: 100%;
      max-width: 18em;
    }
  }

  .Tagline, .Parent {
    text-align: center;
    font-size: 1.5em;
    margin: auto;
    max-width: 18em;
  }

  .Parent {
    font-size: 0.9em;
    text-transform: uppercase;
    position: relative;
    bottom: 0.6em;

    a {
      font-weight: bold;
      color: #96192C;
      text-decoration: none;

      &:hover {
        background: #96192C;
        color: white;
      }
    }
  }

  .Tagline {
    color: #7D641A;
    font-weight: 100;
  }

  .Github {
    display: none;

    @include at('small') {
      display: block;
    }

    position: absolute;
    top: 0;
    right: 0;

    max-width:8em;

    img {
      width: 100%;
    }
  }
}
