<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
        <meta property="og:title" content="SeedCascade" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="A Cascading Seeder for Laravel.">
        <meta property="og:url" content="http://hedronium.github.io/SeedCascade/" />
        <meta property="og:image" content="http://hedronium.github.io/SeedCascade/images/og.jpg" />

        <title>SeedCascade</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/dracula.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">
        <link rel='shortcut icon' href='favicon.png' type='image/png' />
    </head>
    <body>
        {{content}}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>

        <script>
            hljs.configure({
                // useBR: true
            });

            $(function () {
                $('pre > code').each(function (i, block) {
                    var language = $(block).attr('class').split('-')[1];
                    $(block).addClass(language.toLowerCase());

                    hljs.highlightBlock(block);
                });

                $('a[href*="#"]:not([href="#"])').click(function() {
                  if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                    if (target.length) {
                      $('html, body').animate({
                        scrollTop: target.offset().top
                      }, 500);
                      return false;
                    }
                  }
                });
            });
        </script>
    </body>
</html>
